---
import HouseCard from "./HouseCard.astro"

import houses from "../data/houses.json"
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4">
  {houses.map((house) => {
    return <HouseCard
      imgSrc={house.imgSrc}
      location={house.location}
      stars={house.stars}
      distance={house.distance}
      price={house.price}
    />
  })}
</div>
